.footer{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:50px;
  background-color: darkblue;
  text-align: center;
  color:white;
}

.navbar-custom{
  background-color: darkblue;
  text-align: center;
  color:white;
}

.header{
  text-align: center;
  padding-top: 50px;
}
